BOT_NAME=MyBot

# Discord Bot Token (from https://discord.com/developers/applications)
TOKEN=your_bot_token_here

OWNER_ID=your_discord_user_id

SUPPORT_SERVER=your_support_server_id

RUST_LOG=info,serenity=warn,poise=info

# If you want to use postgres here is a template: postgres://user:password@localhost:5432/dbname
DATABASE_URL=sqlite